<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bradenhart.mainactivity" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MondayLayout"
            android:label="Go To Monday Layout"
            android:theme="@style/AppTheme" />
        
        <activity android:name=".EditEntryPage"
            android:label="Edit/Add an Entry in your Timetable"
            android:theme="@style/Theme.AppCompat" />

        <activity android:name=".NewEntryPreview"
            android:label="Preview timetable entry"
            android:theme="@style/AppTheme" />

    </application>

</manifest>
